.adminNavbar
{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 65px;

    
}

.lists ul
{
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    font-weight: bold;
}

ul li
{
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
    
}
.header h1
{
    color: rgb(47, 128, 107);
    margin: 0px;
    margin-top: 20px;
    margin-left: 10px;
    
}

.lists a
{
    color: rgb(3, 3, 3);
    
}
