.he h1
{
    margin-left: 60px;
    margin-top: 20px;
    color: rgb(47, 128, 107);
}

.LI ul 
{
   display: flex;
   flex-direction: row;
   margin-left: 800px; 
   font-weight: bold;
   color: black;
}

.userNavbar
{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.LI a
{
    color: black;
}