.user_card
{
    border: 3px solid black;
    height: 300px;
    width: 400px;
    margin: 30px;
    margin-left: 60px;
    text-align: center;
    display:inline-block;
    
    
}
.remove
{
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    background-color: white;
}
.remove:hover
{
    color: white;
    background-color: rgb(101, 5, 5);
}